body {
	font-size: 32px;
}

/* h1 {
	color: red;
} */

#logo { /* Peso: 100 */
	color: green;
}

.amarelo { /* Peso: 010 */
	color: yellow;
}

h1 {  /* Peso: 001 */
	color: blue;
}

/*
ID > Classe > Tag
 1        1     1
*/