.texto {
	font-size: 10px; /* 10 px*/
}

.texto h1 {
	font-size: 3em; /* 30 px */
}

.texto p {
	padding: 0.5em;
	margin-right: 3em;
	border: 0.1em solid black;

	font-size: 2em; /* 20 px */
}

.texto p span {
	font-size: 0.5em; /* 10 px */
}


.comentarios {
	font-size: 0.5rem; /* 8 px */
}

.comentarios > p {
	font-size: 5em; /* 40 px */
}