body {
	margin: 0;
	font-size: 32px;
}

.caixa1 {
	position: relative;
	left: 100px;
	top: 100px;

	width: 300px;
	height: 300px;

	background-color: red;
}

.caixa2 {
	position: relative;
	left: -50px;
	top: -50px;

	width: 150px;
	height: 150px;

	background-color: yellow;
}