body {
	font-size: 32px;
	margin: 0px;
}

.frase1, .frase2 {
	text-align: justify;
	width: 500px;
	padding: 20px;

	border: 3px solid red;
	background-color: yellow;
}

.frase1 {
	/* margin-left: 0px;*/
	margin: 10px 0 100px 50px;
	/* margin-top: -100px; */
}

p {
	margin: 0px;
}

.frase2 {
	margin: 0 auto;
}