* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.conteudo {
	background-color: #ccc;
	padding: 20px;
}

.rodape {
	background-color: yellow;
	padding: 20px;
}

/* ------------------- \*
		Portifólio
\* ------------------- */

.portifolio {
	font-size: 200%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.portifolio__curso {
	width: 90%;
	height: 125px;
	background-color: red;
	margin: 5% 5%;
	text-align: center;
	font-family: serif;
	font-weight: bold;
}

.portifolio__curso > a {
	display: block;
	color: white;
	text-decoration: none;
	padding-top: 20px;
}

.portifolio__curso--novo::after {
	content: "Novo";
	display: block;
	font-size: 100%;
	margin: 0 20%;
	margin-top: 5%;
	background-color: yellow;
}

.portifolio--mais-vendidos .portifolio__curso {
	background-color: green;
}

@media(min-width: 736px) {
	.portifolio__curso {
		width: 30%;
		height: 300px;
		margin: 5% 1.66666%;
		padding: 0;
		float: left;
	}

	.portifolio::after {
		content: "";
		display: block;
		clear: both;
	}
}


/* ------------------- \*
		Usuário
\* ------------------- */

.usuario {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.usuario > li {
	display: inline-block;
	margin-right: 20px;
}

.usuario > li a {
	color: green;
}

.usuario__nome--novo::after {
	content: " (Novo) ";
}

@media(min-width: 736px) {
	
}