body {
	margin: 0;
	font-size: 32px;
}

.caixa1 {
	position: relative;
	left: 100px;
	top: 100px;
	z-index: 101;

	width: 300px;
	height: 300px;

	background-color: red;
}

.caixa2 {
	position: relative;
	left: -50px;
	top: -50px;

	width: 150px;
	height: 150px;

	background-color: yellow;
}

.caixa3 {
	position: relative;

	width: 300px;
	height: 300px;

	background-color: green;
}

.caixa4 {
	position: absolute;
	right: 0;
	top: -300px;
	z-index: 100;

	width: 150px;
	height: 150px;

	background-color: orange;
}