/* 
* Definindo cores no CSS 
*/

/* Usando nomes padrões */
.caixa1 {
	background-color: blue;
	color: white;
}

/* Usando função RGB */
.caixa2 {
	background-color: rgb(255, 0, 0);
	color: rgb(0, 0, 0);
}

.caixa3 {
	background-color: rgb(255, 200, 0);
	color: rgb(255, 255, 255);
}

/* Usando sistema Hexadecimal 
 * Também faz uso da função RGB da seguinte forma:
 * Primeiro coloca-se uma cerquilha (#),
 * Em seguida se coloca dois caracteres em Hexadecimal para representar a cor vermelha
 * Depois mais dois caracteres para representar a cor verde
 * Depois mais dois caracteres para representar a cor azul.
 * #XX XX XX (retira os espaços)
 */
.caixa4 {
	background-color: #ff00c8;
	color: #ddff00;
}

/* Abreviando as repetições em Hexadecimal*/
.caixa5 {
	background-color: #df0;   /* #ddff00 */
	color: #000;              /* #000000 */
}