.layout-cabecalho {
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ccc;

	background-color: #fff;
}

.layout-cabecalho--home {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
}

.layout-planos {
	padding: 80px 0;
}

@media(max-width: 991px) {
	.layout-planos .row > div:not(.ultima-coluna) {
		margin-bottom: 40px;
	}
}

.layout-chamada {
	margin-top: 60px;
	padding: 80px 0;
	background-color: #7ab55c;
}

.layout-depoimento {
	padding: 80px 0;
	background-color: #e7e7e7;
}

.layout-rodape {
	padding: 40px 0;

	background-color: #484848;
	color: #fff;

	text-align: center;
}

.layout-assinatura {
	margin-top: 60px;
	padding: 40px 0;
}