body {
	font-size: 32px;
}

h1 {
	margin: 0;
}

article {
	background-color: #0f0;
}

footer {
	background-color: yellow;
	text-align: center;
}

.coluna1, .coluna2 {
	background-color: #ccc;
}

.coluna1 {
	float: left;
	width: 48%;
}

.coluna2 {
	float: right;
	width: 48%;
}


/* PSEUDO ELEMENTO */
/* Mudando a primeira letra de cada paragrafo no article */
article > p::first-letter {
	font-size: 60px;
	color: red;
}

/* Adicionando um conteúdo antes do conteúdo das tags h1 */
h1::before {
	content: "Título: ";
}

/* Adicionando conteúdo depois do conteúdo das tags h1*/
h1::after {
	content: " - Artigo";
}

/* Limpando flutuação após a conclusão da tag article */
article::after {
	content: "";
	display: block;
	clear: both;
}