* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

/* ------------------- *\
		Conteúdo
\* ------------------- */
.conteudo {
	background-color: #ccc;
	padding: 20px;
}

.rodape {
	background-color: yellow;
	padding: 20px;
}


/* ------------------- *\
		Portifolio
\* ------------------- */

.portifolio {
	width: 90%;
	height: 100%;
	margin: 0 5%; 

}

.portifolio__item {
	width: 100%;
	height: 150px;
	padding: 2.5% 0;
}

@media (min-width: 769px) {
	.portifolio__item {
		float: left;
		width: 30%;
		height: 300px;
		margin: 1.66%;
	}

	.portifolio::after {
		content: "";
		display: block;
		clear: both;
	}
}



/* ------------------- *\
		Cartão Curso
\* ------------------- */

.cartao-curso {
	background-color: red;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 150%;
	font-family: serif;
	font-weight: bold;
	padding-top: 20px;
}

.cartao-curso > a {
	text-decoration: none;
	color: white;
	font-size: 120%;
}

.cartao-curso--mais-vendido {
	background-color: green;
}

.cartao-curso--novo::after {
	content: "Novo";
	display: block;
	background-color: yellow;
	margin: 0 20%;
	margin-top: 5%;
}

/* ------------------- *\
		Usuarios
\* ------------------- */

.usuarios {
	list-style: none;
	text-align: center;
}

.usuarios__nome {
	display: inline-block;
	margin: 0 10px;
}

.usuarios__nome > a {
	color: green;
}

.usuarios__nome--novo::after {
	content: " (Novo) ";
}