.nome {
	color: #f00;
	font-size: 24px;
	font-family: "Trebuchet MS", sans-serif; /* Termine sempre com nome genérico */
	font-style: italic; /* Estilo da fonte: italico; */
	font-weight: bold; /* Peso da fonte: negrito; */

	text-decoration: underline;
	text-align: center;
}

.segmento {
	font: italic bold 18px Palatino, serif;
}