body {
	font-size: 32px;
}

.nome-empresa {
	background-color: pink;
}

.seguimento-empresa {
	background-color: red;
}

.curso-html {
	background-color: #0d0;
}

.curso-css {
	background-color: #fdff11;
}

.curso-java {
	background-color: #0dd;
}

.curso-bootstrap {
	background-color: #ee00da;
}

.nome-empresa, .seguimento-empresa {
	display: block;
	height: 100px;
	width: 300px;
}

.curso-html, .curso-css {
	display: inline;
	height: 300px; /* Não funciona no display inline*/
	width: 100px; /* Não funciona no display inline */
}

.curso-java, .curso-bootstrap {
	display: inline-block;
	height: 100px;
	width: 300px;
}