.botao {
	display: inline-block;
	padding: 5px;
	border: 1px solid green;
	background-color: green;
	color: white;
	text-align: center;
	text-decoration: none;
}

.botao:hover, .botao:focus {
	background-color: red;
	border: 1px double red;
}