body {
	font-size: 24px;
}

article {
	background-color: green;
}

footer {
	background-color: yellow;
	text-align: center;
}

.paragrafo1 {
	float: left;
	width: 48%;
}

.paragrafo2 {
	float: right;
	width: 48%;
}

article > p::first-letter {
	font-size: 60px;
	color: #f00;
}

h1::before {
	content: "Título: ";
}

h1::after {
	content: " - Artigo";
}

article::after {
	content: "";
	display: block;
	clear: both;
}